*** Variable ***
#Capabilities
${appiumLocal}          http://127.0.0.1:4723/wd/hub
# ${app}                  /Users/kitabisa.com/Documents/MobileUI-staging-debug.apk
${platformVersion}      8.1.0
${isCloud}              false

#Environment
${service_env}          stg

#Credential
${activationEmail}      testingkitabisa@gmail.com
${activationPassword}   k1tab1sa

${otherEmail}           kitabisastaging@gmail.com
${otherPassword}        k1tab1sa

${donationEmail}        testingdonasi@gmail.com
${donationPassword}     k1tab1sa

${zakatEmail}           testingzakat@gmail.com
${zakatPassword}        k1tab1sa

${phoneLogin}           6285772612581
${phonePassword}        k1tab1sa

${unregisEmail}         kitabisakitabisa@gmail.com
${unregisPhone}         6281210450011

${phoneToRegis}         6282120012021
${emailToRegis}         kitabisatesting@gmail.com
${nameToRegis}          Kitabisa

${noInboxEmail}         testinginbox@gmail.com
${noInboxPassword}      kitabisa
${zakatPhone}           081297157543
${zakatPass}            123123123
${walletamount}         1000000
${donasiRutinUser}      testingdonasirutin@gmail.com

${newPassword}          ${EMPTY}

${dbport}           5432
${Username}         teras
${dbName}		    teras
${dbHost}           pgsql.ktbs.xyz
${Password}         WO7f8NBtt9a8C4am
